.mobile-menu {
  display: none;
}
.mobile-menu-block {
  display: block;
}
.mobile-menu-none {
  display: none;
}
.menu-icon {
  display: none;
}
@media (max-width: 748px) {
  .menu-icon {
    display: block;
  }
  .web-menu {
    display: none;
  }
}
@media (min-width: 900px) {
  .mobile-menu-block {
    display: none;
  }
}
