.menu-button {
    display: none;
}
@media screen and (max-width: 768px) {
 .nav-items{
    display: none;
 }
 .menu-button{
    display: block;
 }
}
.menuButtons{
position:absolute;
flex-direction: column;
justify-content: center;
align-items: center;
display: block;
top: 80%;
right: 0;
width: 100vw;

background-color: antiquewhite;
}
.menuButtons li{
    height: 20%;
    width: 100%;
    text-align: center;
}
.menuButtons a{
    text-align: center;
}